<% (1..100).each do %>
<div class="message">

  <div class="info">
    <span class="type issue">Issue</span>
    <span class="project-name">nomnom/refactor</span>
    <span class="user-name">Bryce Hammond</span>
    <span class="date">15:54 PM</span>
  </div>

  <div class="body">
    move to attr_accessor with overrides for search    
  </div>
  <div class="links">
    <a href="https://github.com/imulus/retinajs/issues/20">https://github.com/imulus/retinajs/issues/20</a>    
  </div>
</div>
<% end %>