<!DOCTYPE html>
<html>
<head>
  <title>nerdfeed</title>
  <link href="/css/application.css" rel="stylesheet"/>
</head>
<body>

  <%= yield %>
  
  <script src="/scripts/application.js"></script>
</body>
</html>